/* styles.css */
header {
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Cascadia Mono", sans-serif;
    background-color: blue;
}

article{
    color: black;
    padding: 10px;
    bottom: 0;
    width: 100%;
    background-color: orange;

}


footer {
    color: white;
    padding: 10px;
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
    background-color: blue;
}


body{
    font-family: "Cascadia Mono", sans-serif;

  }